{"swagger":"2.0","info":{"version":"v2","title":"API de serviços de Integração do ApisulLog"},"host":"hml-api-novoapisullog.apisul.com.br","schemes":["https"],"paths":{"/v2/ApisulMobVersao/BuscarUltimaVersaoApisulMobLoja":{"get":{"tags":["ApisulMobVersao"],"operationId":"ApisulMobVersao_BuscarUltimaVersaoApisulMobLoja_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagemModelo"}}}}},"/v2/ApisulMobVersao/BuscarUltimaVersaoApisulMobLoja2":{"get":{"tags":["ApisulMobVersao"],"operationId":"ApisulMobVersao_BuscarUltimaVersaoApisulMobLoja_V3","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagemModelo"}}}}},"/v1/Auth/Token":{"post":{"tags":["Auth"],"operationId":"Auth_GerarToken","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"login","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Integracao.Servico.Models.LoginIntegracao"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/ChatBot/ValidarUsuario":{"get":{"tags":["ChatBotTelegram"],"operationId":"ChatBotTelegram_ValidarUsuario","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"idChatBot","in":"query","required":true,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagemModelo"}}}}},"/ChatBot/AtualizarUsuarioChatBot":{"post":{"tags":["ChatBotTelegram"],"operationId":"ChatBotTelegram_AtualizarUsuarioChatBot","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"login","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Integracao.Servico.Models.LoginChatBot"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagemModelo"}}}}},"/ChatBot/BuscaQuantidadeSMPMonit":{"get":{"tags":["ChatBotTelegram"],"operationId":"ChatBotTelegram_BuscaQuantidadeSMPMonit","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"token","in":"query","required":true,"type":"string"},{"name":"idChatBot","in":"query","required":true,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagemModelo"}}}}},"/ChatBot/BuscaQuantidadeSMPLog":{"get":{"tags":["ChatBotTelegram"],"operationId":"ChatBotTelegram_BuscaQuantidadeSMPLog","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"token","in":"query","required":true,"type":"string"},{"name":"idChatBot","in":"query","required":true,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagemModelo"}}}}},"/ChatBot/BuscaPrevisaoChegadaCarga":{"get":{"tags":["ChatBotTelegram"],"operationId":"ChatBotTelegram_BuscaPrevisaoChegadaCarga","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"token","in":"query","required":true,"type":"string"},{"name":"idChatBot","in":"query","required":true,"type":"string"},{"name":"docControle","in":"query","required":true,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoSMPEstatistica"}}}}},"/ChatBot/BuscaLocalizacaoVeiculoDocControle":{"get":{"tags":["ChatBotTelegram"],"operationId":"ChatBotTelegram_BuscaLocalizacaoVeiculo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"token","in":"query","required":true,"type":"string"},{"name":"idChatBot","in":"query","required":true,"type":"string"},{"name":"docControle","in":"query","required":true,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoLocalizacaoVeiculo"}}}}},"/ChatBot/BuscaLocalizacaoVeiculoPorPlaca":{"get":{"tags":["ChatBotTelegram"],"operationId":"ChatBotTelegram_BuscaLocalizacaoVeiculoPorPlaca","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"token","in":"query","required":true,"type":"string"},{"name":"idChatBot","in":"query","required":true,"type":"string"},{"name":"placa","in":"query","required":true,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagemModelo"}}}}},"/v3/Chat/ValidarVeiculo":{"get":{"tags":["ChatMobRefactor"],"operationId":"ChatMobRefactor_ValidarVeiculo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"placa","in":"query","required":true,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Rest.ModeloRetorno[System.Object]"}}}}},"/v3/Chat/BuscarMensagens":{"get":{"tags":["ChatMobRefactor"],"operationId":"ChatMobRefactor_BuscarMensagens","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"idRastreador","in":"query","required":true,"type":"integer","format":"int32"},{"name":"idSMP","in":"query","required":true,"type":"integer","format":"int64"},{"name":"idUsuarioGestor","in":"query","required":true,"type":"integer","format":"int32"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Rest.ModeloRetorno[System.Collections.Generic.List[ApisulLog.Modelo.ChatMob.ChatMensagemModeloRetorno]]"}}}}},"/v3/Chat/EnviarMacroMensagem":{"post":{"tags":["ChatMobRefactor"],"operationId":"ChatMobRefactor_EnviarMacroMensagem","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"mensagemMobModelo","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Modelo.ChatMob.ChatMensagemModelo"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Rest.ModeloRetorno[System.Object]"}}}}},"/v3/Chat/MarcarLeitura":{"post":{"tags":["ChatMobRefactor"],"operationId":"ChatMobRefactor_MarcarLeitura","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"idRastreador","in":"query","required":true,"type":"integer","format":"int32"},{"name":"idSMP","in":"query","required":true,"type":"integer","format":"int64"},{"name":"idUsuarioGestor","in":"query","required":true,"type":"integer","format":"int32"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Rest.ModeloRetorno[System.Object]"}}}}},"/v2/comando/enviarComandos":{"get":{"tags":["Comando"],"operationId":"Comando_EnviarComandos","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"tipoComando","in":"query","required":true,"type":"string"},{"name":"situacao","in":"query","required":true,"type":"boolean"},{"name":"numeroSMP","in":"query","required":false,"type":"integer","format":"int32"},{"name":"placaVeiculo","in":"query","required":false,"type":"string"},{"name":"cpfMotorista","in":"query","required":false,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaSMPEvento"}}}}},"/v2/comando/buscarComandos":{"get":{"tags":["Comando"],"operationId":"Comando_BuscarComandos","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"numeroSMP","in":"query","required":false,"type":"integer","format":"int32"},{"name":"placaVeiculo","in":"query","required":false,"type":"string"},{"name":"cpfMotorista","in":"query","required":false,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaComando"}}}}},"/documentoSMP/buscaDocumentoSMP":{"get":{"tags":["DocumentoSMP"],"operationId":"DocumentoSMP_GetAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dataBase","in":"query","required":true,"type":"string","format":"date-time"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaDocumentoSMPRest"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/documentoSMP/buscaDocumento":{"get":{"tags":["DocumentoSMP"],"operationId":"DocumentoSMP_GetPorNumeroDocumentoAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"numeroDocumento","in":"query","required":false,"type":"string"},{"name":"numeroSMP","in":"query","required":false,"type":"integer","format":"int32"},{"name":"dataInicial","in":"query","required":false,"type":"string","format":"date-time"},{"name":"dataFinal","in":"query","required":false,"type":"string","format":"date-time"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaDocumentoSMPPorNumeroRest"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/documentoSMP/buscaComprovante":{"get":{"tags":["DocumentoSMP"],"operationId":"DocumentoSMP_BuscaComprovanteAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"data","in":"query","required":false,"type":"string","format":"date-time"},{"name":"documentoControle","in":"query","required":false,"type":"string"},{"name":"documentoNivel1","in":"query","required":false,"type":"string"},{"name":"documentoNivel2","in":"query","required":false,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaComprovanteDocumentoSMPRest"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/documentoSMP/DocumentoSMP_BuscaOcorrencia":{"get":{"tags":["DocumentoSMP"],"operationId":"DocumentoSMP_BuscaOcorrenciaAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"idOcorrenciaDocumento","in":"query","required":true,"type":"integer","format":"int64"},{"name":"documento","in":"query","required":false,"type":"string"},{"name":"datainicio","in":"query","required":false,"type":"string","format":"date-time"},{"name":"dataFim","in":"query","required":false,"type":"string","format":"date-time"},{"name":"statusDocumento","in":"query","required":false,"type":"string"},{"name":"tipoOcorrencia","in":"query","required":false,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaComprovanteDocumentoSMPRest"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/documentoSMP/InsereComprovante":{"post":{"tags":["DocumentoSMP"],"operationId":"DocumentoSMP_InsereComprovante","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"comprovante","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.REST.DocumentoSMP.DocumentoSMPComprovanteModeloIntegracao"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoInsereComprovanteCheckin"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/documentoSMP/StatusCarregamento":{"post":{"tags":["DocumentoSMP"],"operationId":"DocumentoSMP_StatusCarregamento","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"statusCarregamento","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.REST.DocumentoSMP.DocumentoSMPStatusCarregamentoModeloIntegracao"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoInsereDocumentoSMPStatusCarregamentoRest"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/documentoSMP":{"post":{"tags":["DocumentoSMP"],"operationId":"DocumentoSMP_PostAsync","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"documentoSMP","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.REST.DocumentoSMP.DocumentoSMPModeloIntegracao"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoInsereDocumentoSMPRest"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/insereEmitente":{"post":{"tags":["Emitente"],"operationId":"Emitente_PostAsync","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"emitente","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.REST.Emitente.EmitenteModeloIntegracao"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.BaseRetornoRestModelo"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/Fretes/GestaoFretes":{"get":{"tags":["Frete"],"operationId":"Frete_GetFretes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dataInicio","in":"query","required":false,"type":"string","format":"date-time"},{"name":"dataFim","in":"query","required":false,"type":"string","format":"date-time"},{"name":"situacao","in":"query","required":false,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Dinamico.CargaProgramada.RetornoFreteModeloIntegracao"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/v2/Fretes/GestaoFretes":{"get":{"tags":["Frete"],"operationId":"Frete_GetFretesV2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dataInicio","in":"query","required":false,"type":"string","format":"date-time"},{"name":"dataFim","in":"query","required":false,"type":"string","format":"date-time"},{"name":"situacao","in":"query","required":false,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Dinamico.CargaProgramada.RetornoFreteModeloIntegracaoV2"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/Fretes/InsereFrete":{"post":{"tags":["Frete"],"operationId":"Frete_InsereFrete","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"freteModeloIntegracao","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.REST.FreteModeloIntegracao"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoInsereFreteRest"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoInsereFreteRest"}}}}},"/Fretes/BuscaProgramacoes":{"get":{"tags":["Frete"],"operationId":"Frete_BuscaProgramacoes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"situacao","in":"query","required":false,"type":"string"},{"name":"docControle","in":"query","required":false,"type":"string"},{"name":"dataInicio","in":"query","required":false,"type":"string","format":"date-time"},{"name":"dataFim","in":"query","required":false,"type":"string","format":"date-time"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Dinamico.CargaProgramada.RetornoCargaProgramadaModeloIntegracao"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/Fretes/CancelaFrete":{"post":{"tags":["Frete"],"operationId":"Frete_Cancelar","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"freteCancelaModeloIntegracao","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.REST.FreteCancelaModeloIntegracao"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoCancelaFreteRest"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoCancelaFreteRest"}}}}},"/Fretes/Confirmar":{"post":{"tags":["Frete"],"operationId":"Frete_Confirmar","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"freteConfirma","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.REST.FreteConfirmaModeloIntegracao"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoConfirmaFreteRest"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoConfirmaFreteRest"}}}}},"/v2/Login/GetLogin":{"post":{"tags":["Login"],"operationId":"Login_GetLogin","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"login","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Integracao.Servico.Models.Login"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/v2/Login/AutenticarLogin":{"get":{"tags":["Login"],"operationId":"Login_AutenticarLogin","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/liaApisullog/post_message":{"post":{"tags":["Meta"],"operationId":"Meta_PostMessageAsync","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"messagingRequest","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Integracao.Servico.Models.HubAutenticacaoApisullogModeloIntegracao"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoLiaApisullogModeloIntegracao"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/liaApisullog/get_message":{"get":{"tags":["Meta"],"operationId":"Meta_GetMessageAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"idmensagem","in":"query","required":true,"type":"integer","format":"int32"},{"name":"numeroTelefone","in":"query","required":true,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoMetaModeloIntegracao"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/insereMotorista":{"post":{"tags":["Motorista"],"operationId":"Motorista_PostAsync","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"motorista","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.REST.Motorista.MotoristaModeloIntegracao"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.BaseRetornoRestModelo"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/buscaMotorista":{"get":{"tags":["Motorista"],"operationId":"Motorista_GetAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dataAtualizacao","in":"query","required":false,"type":"string","format":"date-time"},{"name":"documento","in":"query","required":false,"type":"string"},{"name":"cpfGestorFrota","in":"query","required":false,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaMotoristaRest"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/buscaPontuacao":{"get":{"tags":["Motorista"],"operationId":"Motorista_GetAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"numeroDocumento","in":"query","required":true,"type":"string"},{"name":"cnpjEmbarcador","in":"query","required":true,"type":"string"},{"name":"cnpjTrasnportador","in":"query","required":true,"type":"string"},{"name":"mercadoria","in":"query","required":true,"type":"string"},{"name":"estadoDestino","in":"query","required":true,"type":"string"},{"name":"paisDestino","in":"query","required":true,"type":"string"},{"name":"tipoProfissional","in":"query","required":false,"type":"integer","format":"int32"},{"name":"valor","in":"query","required":false,"type":"integer","format":"int32"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaPontuacaoMotoristaRest"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/buscaMarcacoesJornada":{"get":{"tags":["Motorista"],"operationId":"Motorista_GetAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"idUltimaMarcação","in":"query","required":true,"type":"integer","format":"int64"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaMarcacoesJornadaRest"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/buscaMonitoramentoJornada":{"get":{"tags":["Motorista"],"operationId":"Motorista_GetAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"cpfMotorista","in":"query","required":false,"type":"string"},{"name":"perfilJornada","in":"query","required":false,"type":"string"},{"name":"statusAtivo","in":"query","required":false,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaMotoristaJornadaRest"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/buscaJornadaMotorista":{"get":{"tags":["Motorista"],"operationId":"Motorista_GetAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"cpfMotorista","in":"query","required":false,"type":"string"},{"name":"periodoInicio","in":"query","required":false,"type":"string","format":"date-time"},{"name":"periodoFim","in":"query","required":false,"type":"string","format":"date-time"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaJornadaMotoristaRest"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/v3/PlanoViagem/BuscarPontosInteressePlanoViagem":{"post":{"tags":["PlanoViagem"],"operationId":"PlanoViagem_BuscarPontosInteressePlanoViagem_v3","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"numeroRastreador","in":"query","required":true,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagemModelo"}}}}},"/v4/PlanoViagem/BuscarPontosInteressePlanoViagem":{"post":{"tags":["PlanoViagem"],"operationId":"PlanoViagem_BuscarPontosInteressePlanoViagem_v4","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"numeroRastreador","in":"query","required":true,"type":"string"},{"name":"latitude","in":"query","required":true,"type":"number","format":"double"},{"name":"longitude","in":"query","required":true,"type":"number","format":"double"},{"name":"raio","in":"query","required":false,"type":"integer","format":"int32"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagemModelo"}}}}},"/v2/PlanoViagem/BuscarTipoPonto":{"post":{"tags":["PlanoViagem"],"operationId":"PlanoViagem_BuscarTipoPonto_v2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagemModelo"}}}}},"/v4/PlanoViagem/InserirCheckinImagemJustificativa":{"post":{"tags":["PlanoViagem"],"operationId":"PlanoViagem_InserirCheckinImagemJustificativa_v4","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Integracao.Servico.Models.CheckinImagemJustificativaModel"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagemModelo"}}}}},"/v2/PlanoViagem/CientePlanoViagem":{"post":{"tags":["PlanoViagem"],"operationId":"PlanoViagem_CientePlanoViagem_v2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"idSMP","in":"query","required":true,"type":"integer","format":"int64"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagemModelo"}}}}},"/v6/PlanoViagem/BuscaPlanoViagem":{"post":{"tags":["PlanoViagem"],"operationId":"PlanoViagem_BuscaPlanoViagem_v6","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"numeroRastreador","in":"query","required":true,"type":"string"},{"name":"enviaRota","in":"query","required":true,"type":"boolean"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagemModelo"}}}}},"/v5/PlanoViagem/InserirCheckinImagemAbastecimento":{"post":{"tags":["PlanoViagem"],"operationId":"PlanoViagem_InserirCheckinImagemAbastecimento_v5","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"idSMP","in":"query","required":true,"type":"integer","format":"int64"},{"name":"urlImagem","in":"query","required":true,"type":"string"},{"name":"dataHoraFoto","in":"query","required":true,"type":"string","format":"date-time"},{"name":"litros","in":"query","required":true,"type":"number","format":"double"},{"name":"idRegraFaturamentoDespesaViagemPontoGlobalVeiculo","in":"query","required":true,"type":"integer","format":"int32"},{"name":"idRegraFaturamentoDespesaViagemPontoGlobal","in":"query","required":true,"type":"integer","format":"int32"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagemModelo"}}}}},"/BuscarInformacoesAgendamento":{"post":{"tags":["PortalAgendamento"],"operationId":"PortalAgendamento_BuscarInformacoesAgendamento","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"numeroRastreador","in":"query","required":true,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Dinamico.PortalAgendamentoConsultaModelo"}}}}},"/preSMP":{"post":{"tags":["PreSMP"],"operationId":"PreSMP_PostAsync","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"preSMP","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.REST.PreSMP.PreSMPModeloIntegracao"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoPreSMPRest"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/v2/ProgramacaoCarga/BuscarSolicitacaoViagemPendente":{"post":{"tags":["ProgramacaoCarga"],"operationId":"ProgramacaoCarga_BuscarSolicitacaoViagemPendente","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"numeroRastreador","in":"query","required":true,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.ApisulMob.v2.ProgramacaoCargaSolicitacaoViagemRetornoModelo"}}}}},"/v2/ProgramacaoCarga/BuscarSolicitacaoViagemAceita":{"post":{"tags":["ProgramacaoCarga"],"operationId":"ProgramacaoCarga_BuscarSolicitacaoViagemAceita","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"numeroRastreador","in":"query","required":true,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.ApisulMob.v2.ProgramacaoCargaSolicitacaoViagemRetornoModelo"}}}}},"/v2/ProgramacaoCarga/AlterarDisponibilidade":{"post":{"tags":["ProgramacaoCarga"],"operationId":"ProgramacaoCarga_AlterarDisponibilidade","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"numeroRastreador","in":"query","required":true,"type":"string"},{"name":"disponibilidade","in":"query","required":true,"type":"boolean"},{"name":"dataHoraIndisponivel","in":"query","required":false,"type":"string","format":"date-time"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagemModelo"}}}}},"/v2/ProgramacaoCarga/ConfirmarRecebimentoNotificacaoViagem":{"post":{"tags":["ProgramacaoCarga"],"operationId":"ProgramacaoCarga_ConfirmarRecebimentoNotificacaoViagem","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"idNotificacao","in":"query","required":true,"type":"integer","format":"int64"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagemModelo"}}}}},"/v2/ProgramacaoCarga/BuscarFilaMotorista":{"get":{"tags":["ProgramacaoCarga"],"operationId":"ProgramacaoCarga_BuscarFilaMotorista","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"numeroRastreador","in":"query","required":true,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.FilaMotoristaRetornoModelo"}}}}},"/v2/ProgramacaoCarga/AceitarSolicitacaoViagem":{"post":{"tags":["ProgramacaoCarga"],"operationId":"ProgramacaoCarga_AceitarSolicitacaoViagem","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"idNotificacao","in":"query","required":true,"type":"integer","format":"int64"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagemModelo"}}}}},"/v2/ProgramacaoCarga/RecusarSolicitacaoViagem":{"post":{"tags":["ProgramacaoCarga"],"operationId":"ProgramacaoCarga_RecusarSolicitacaoViagem","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"idNotificacao","in":"query","required":true,"type":"integer","format":"int64"},{"name":"justificativa","in":"query","required":true,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagemModelo"}}}}},"/v7/Rastreamento/GravarPosicao":{"post":{"tags":["Rastreamento"],"operationId":"Rastreamento_GravarPosicao_v7","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"posicao","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Integracao.Servico.Models.Posicao"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.ApisulMob.v6.PosicaoApisulMobModelo"}}}}},"/v7/Rastreamento/BuscarStatusRastreador":{"post":{"tags":["Rastreamento"],"operationId":"Rastreamento_BuscarStatusRastreador","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"numeroRastreador","in":"query","required":true,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK"}}}},"/v1/Rastreamento/ValidarVinculoRastreador":{"post":{"tags":["Rastreamento"],"operationId":"Rastreamento_ValidarVinculoRastreador","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Modelo.Rest.ValidacaoVinculoRastreadorModelo"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK"}}}},"/v1/Rastreamento/ConfirmarVinculoRastreador":{"post":{"tags":["Rastreamento"],"operationId":"Rastreamento_ConfirmarVinculoRastreador","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Modelo.Rest.ConfirmacaoVinculoRastreadorModelo"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK"}}}},"/RastreamentoConta/GravarPosicao":{"post":{"tags":["RastreamentoConta"],"operationId":"RastreamentoConta_GravarPosicao","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"posicoes","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Integracao.Servico.Models.PosicaoTecnologia"}}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.PosicaoRastreamentoContaModelo"}}},"400":{"description":"Nenhuma posição enviada./O limite máximo é de 1000 posições por requisição."},"429":{"description":"Aguarde 5 segundos para nova requisição."},"500":{"description":"Erro interno no servidor."}}}},"/v1/rota/insereRota":{"post":{"tags":["Rota"],"operationId":"Rota_InsereRota","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"RotaModelo","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.REST.RotaRestModelo"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoRotaModelo"}}}}},"/v1/rota/buscaTrajetoRota":{"get":{"tags":["Rota"],"operationId":"Rota_BuscaTrajetoRota","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"idRota","in":"query","required":true,"type":"integer","format":"int32"},{"name":"codificarTrajeto","in":"query","required":false,"type":"boolean"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaTrajetoRotaRest"}}}}},"/v1/rota/buscaRota":{"get":{"tags":["Rota"],"operationId":"Rota_BuscaRota","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dataUltimaAtualizacao","in":"query","required":true,"type":"string","format":"date-time"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaRotaAtualizacaoRest"}}}}},"/v1/rota/buscaRotaPedagio":{"get":{"tags":["Rota"],"operationId":"Rota_BuscaRotaPedagio","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"idRota","in":"query","required":true,"type":"integer","format":"int32"},{"name":"quantidadeEixos","in":"query","required":true,"type":"integer","format":"int32"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaRotaPedagioRest"}}}}},"/v2/smp/ocorrencias":{"get":{"tags":["SMP"],"operationId":"SMP_Ocorrencias","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaOcorrencia"}}}}},"/v2/smp/{ano}/{numeroSMP}/ocorrencias":{"get":{"tags":["SMP"],"operationId":"SMP_Ocorrencias","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ano","in":"path","required":true,"type":"integer","format":"int32"},{"name":"numeroSMP","in":"path","required":true,"type":"integer","format":"int32"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaOcorrencia"}}}}},"/v2/smp/smpOcorrencias":{"get":{"tags":["SMP"],"operationId":"SMP_BuscaSMPOcorrencia","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"idSMPOcorrencia","in":"query","required":true,"type":"integer","format":"int64"},{"name":"dataInicio","in":"query","required":false,"type":"string","format":"date-time"},{"name":"dataFim","in":"query","required":false,"type":"string","format":"date-time"},{"name":"tipoClassificacaoOcorrencia","in":"query","required":false,"type":"integer","format":"int32","enum":[1,2]},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaSMPOcorrencia"}}}}},"/v2/smp/smpProgramado":{"get":{"tags":["SMP"],"operationId":"SMP_BuscaSMPProgramado","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dataInicio","in":"query","required":false,"type":"string","format":"date-time"},{"name":"dataFim","in":"query","required":false,"type":"string","format":"date-time"},{"name":"idStatusSmp","in":"query","required":false,"type":"integer","format":"int32"},{"name":"tipoOperacao","in":"query","required":false,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaSMPProgramado"}}}}},"/v2/smp/smpPonto":{"get":{"tags":["SMP"],"operationId":"SMP_BuscaSMPPonto","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dataInicio","in":"query","required":false,"type":"string","format":"date-time"},{"name":"dataFim","in":"query","required":false,"type":"string","format":"date-time"},{"name":"listaNumeroSMP","in":"query","required":false,"type":"string"},{"name":"statusSMP","in":"query","required":false,"type":"string"},{"name":"tipoOperacao","in":"query","required":false,"type":"string"},{"name":"pontosRetorno","in":"query","required":false,"type":"boolean"},{"name":"DocControle","in":"query","required":false,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaSMPPonto"}}}}},"/v2/smp/smpDinamico":{"get":{"tags":["SMP"],"operationId":"SMP_BuscaSMPDinamico","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dataInicio","in":"query","required":false,"type":"string","format":"date-time"},{"name":"dataFim","in":"query","required":false,"type":"string","format":"date-time"},{"name":"tipoOperacao","in":"query","required":false,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaSMPDinamico"}}}}},"/v2/smp/workFlows":{"get":{"tags":["SMP"],"operationId":"SMP_BuscaSMPWorkFlow","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dataInicio","in":"query","required":true,"type":"string","format":"date-time"},{"name":"dataFim","in":"query","required":true,"type":"string","format":"date-time"},{"name":"statusWF","in":"query","required":false,"type":"string"},{"name":"visibilidadeWF","in":"query","required":false,"type":"string"},{"name":"tipoOperacao","in":"query","required":false,"type":"string"},{"name":"tipoWF","in":"query","required":false,"type":"string"},{"name":"listaNumeroSMP","in":"query","required":false,"type":"string"},{"name":"placa","in":"query","required":false,"type":"string"},{"name":"id","in":"query","required":false,"type":"integer","format":"int64"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaSMPWorkflow"}}}}},"/v2/smp/alerta":{"get":{"tags":["SMP"],"operationId":"SMP_BuscaAlerta","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dataInicio","in":"query","required":false,"type":"string","format":"date-time"},{"name":"dataFim","in":"query","required":false,"type":"string","format":"date-time"},{"name":"statusAlerta","in":"query","required":false,"type":"string"},{"name":"tipoAlerta","in":"query","required":false,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaAlerta"}}}}},"/v2/smp/buscaPontoPGV":{"get":{"tags":["SMP"],"operationId":"SMP_BuscaPontoPGV","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"numeroSMP","in":"query","required":false,"type":"integer","format":"int32"},{"name":"documentoControle","in":"query","required":false,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaPontoPGVRest"}}}}},"/v2/smp/baseMonitoramento":{"get":{"tags":["SMP"],"operationId":"SMP_BaseMonitoramento","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"numeroSMP","in":"query","required":false,"type":"integer","format":"int32"},{"name":"documentoMotorista","in":"query","required":false,"type":"string"},{"name":"nomeMotorista","in":"query","required":false,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaBaseMonitoramento"}}}}},"/v2/smp/buscaRotaSMP":{"get":{"tags":["SMP"],"operationId":"SMP_BuscaRotaSMP","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"numeroSMP","in":"query","required":false,"type":"integer","format":"int32"},{"name":"documentoControle","in":"query","required":false,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaRotaRest"}}}}},"/v2/smp/buscaEventos":{"get":{"tags":["SMP"],"operationId":"SMP_BuscaEventosSMP","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dataInicio","in":"query","required":true,"type":"string","format":"date-time"},{"name":"dataFim","in":"query","required":true,"type":"string","format":"date-time"},{"name":"tipoClassificacaoEvento","in":"query","required":false,"type":"integer","format":"int32"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaSMPEvento"}}}}},"/v2/smp/BuscaDistanciaPercorrida":{"get":{"tags":["SMP"],"operationId":"SMP_BuscaDistanciaPercorrida","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dataInicio","in":"query","required":true,"type":"string","format":"date-time"},{"name":"dataFim","in":"query","required":true,"type":"string","format":"date-time"},{"name":"placa","in":"query","required":true,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoDistanciaVeiculo"}}}}},"/v2/smp/trocaDadosSMPAgendada":{"post":{"tags":["SMP"],"operationId":"SMP_TrocaDadosSMPAgendada","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dadosSMPAgendada","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.REST.TrocaDadosSMPAgendadaModeloIntegracao"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.BaseRetornoRestModelo"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/v2/smp/trocaMotoristaSMP":{"post":{"tags":["SMP"],"operationId":"SMP_TrocaMotoristaSMP","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"trocaMotoristaSMPModeloIntegracao","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.REST.TrocaMotoristaSMPModeloIntegracao"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.BaseRetornoRestModelo"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/v2/smp/trocaVeiculoCarreta":{"post":{"tags":["SMP"],"operationId":"SMP_TrocaVeiculoCarreta","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"trocaVeiculoCarreta","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.REST.TrocaVeiculoCarretaModeloIntegracao"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.BaseRetornoRestModelo"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/v2/smp/trocaTemperaturaSMP":{"post":{"tags":["SMP"],"operationId":"SMP_TrocaTemperaturaSMP","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"numeroSMP","in":"query","required":true,"type":"integer","format":"int32"},{"name":"temperaturaMinima","in":"query","required":true,"type":"integer","format":"int32"},{"name":"temperaturaMaxima","in":"query","required":true,"type":"integer","format":"int32"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.BaseRetornoRestModelo"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/v2/smp/atualizaPrevisao":{"post":{"tags":["SMP"],"operationId":"SMP_AtualizaPrevisao","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"identificador","in":"query","required":true,"type":"string"},{"name":"previsaoChegada","in":"query","required":true,"type":"string"},{"name":"numeroSMP","in":"query","required":false,"type":"integer","format":"int32"},{"name":"documento","in":"query","required":false,"type":"string"},{"name":"documentoControle","in":"query","required":false,"type":"string"},{"name":"agendamento","in":"query","required":false,"type":"boolean"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.BaseRetornoRestModelo"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/v2/smp/monitoramentoChegada":{"get":{"tags":["SMP"],"operationId":"SMP_MonitoramentoChegada","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"pontoOrigem","in":"query","required":false,"type":"string"},{"name":"documentoControle","in":"query","required":false,"type":"string"},{"name":"dataInicio","in":"query","required":false,"type":"string"},{"name":"dataPrevisao","in":"query","required":false,"type":"string"},{"name":"listaNumeroDocumento","in":"query","required":false,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.BaseRetornoRestModelo"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/v2/smp/buscaPedagios":{"get":{"tags":["SMP"],"operationId":"SMP_BuscaSMPPedagio","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dataInicio","in":"query","required":false,"type":"string"},{"name":"dataFim","in":"query","required":false,"type":"string"},{"name":"tipoOperacao","in":"query","required":false,"type":"string"},{"name":"listaSMP","in":"query","required":false,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.BaseRetornoRestModelo"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/v2/smp/InsereSMP":{"post":{"tags":["SMP"],"operationId":"SMP_InsereSMP","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"smp","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.SMPModeloIntegracaoRest"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.BaseRetornoRestModelo"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/v2/smp/alteraRotaSMP":{"post":{"tags":["SMP"],"operationId":"SMP_AlteraRotaSMP","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"rotaModelo","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.REST.AlteraRotaRestModelo"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/smp/GerenciaTrocaMotoristaSMP":{"post":{"tags":["SMP"],"operationId":"SMP_GerenciaTrocaMotoristaSMPAsync","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"motoristaIntegracao","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.REST.Motorista.GerenciaTrocaMotoristaSMPModeloIntegracao"}}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.REST.Motorista.RetornoTrocaMotoristaModeloIntegracao"}}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.REST.Motorista.RetornoTrocaMotoristaModeloIntegracao"}}},"500":{"description":"InternalServerError","schema":{"type":"string"}}}}},"/ApisulLog.Integracao.SMP":{"post":{"tags":["SmpRest"],"operationId":"SmpRest_Insere","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"xml","in":"body","required":true,"schema":{"type":"string"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoInsereSMP"}}}}},"/v3/Solicitacao/ListaSolicitacoes":{"post":{"tags":["SolicitacaoMobRefactor"],"operationId":"SolicitacaoMobRefactor_GetListaSolicitacoes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Rest.ModeloRetorno[System.Object]"}}}}},"/v3/Solicitacao/NovaSolicitacao":{"post":{"tags":["SolicitacaoMobRefactor"],"operationId":"SolicitacaoMobRefactor_NovaSolicitacao","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"solicitacaoAPP","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Modelo.Dinamico.SolicitacaoAPPModelo"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Rest.ModeloRetorno[System.Object]"}}}}},"/v1/Tecnologia/Posicao":{"post":{"tags":["Tecnologia"],"operationId":"Tecnologia_InserePosicao","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"listaPosicao","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Integracao.Servico.Models.PosicaoIntegracao"}}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoModelo"}}}}},"/Tracking/BuscarUltimaPosicaoPorPlaca":{"post":{"tags":["Tracking"],"operationId":"Tracking_BuscaListaUltimaPosicao","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"buscaPosicaoAtual","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Integracao.Servico.Models.BuscaListaUltimaPosicao"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaListaPosicaoAtualIntegracaoRest"}}}}},"/TratativaEvento":{"post":{"tags":["TratativaEvento"],"operationId":"TratativaEvento_Receive","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.REST.ChaiOneWebhookRequest"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.TratativaEvento.RetornoTratativaEvento"}}}}},"/twilio/message":{"post":{"tags":["Twilio"],"operationId":"Twilio_PostMessage","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"messagingRequest","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Integracao.Servico.Models.TwilioMessagingRequest"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/twilio/getMessage":{"get":{"tags":["Twilio"],"operationId":"Twilio_GetMessage","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"phone","in":"query","required":true,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/Usuario/GetDados":{"post":{"tags":["UsuarioMob"],"operationId":"UsuarioMob_GetDados","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/Veiculo/buscaRastreabilidadeFrota":{"get":{"tags":["Veiculo"],"operationId":"Veiculo_GetVeiculoPorNumero","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dataInicial","in":"query","required":false,"type":"string","format":"date-time"},{"name":"dataFinal","in":"query","required":false,"type":"string","format":"date-time"},{"name":"exibeSubPonto","in":"query","required":false,"type":"integer","format":"int32"},{"name":"buscarDataEntrada","in":"query","required":false,"type":"boolean"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Dinamico.RetornoRastreabilidadeFrotaRest"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/Veiculo/buscaVeiculo":{"get":{"tags":["Veiculo"],"operationId":"Veiculo_GetVeiculo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dataAtualizacao","in":"query","required":false,"type":"string","format":"date-time"},{"name":"placa","in":"query","required":false,"type":"string"},{"name":"cpfGestorFrota","in":"query","required":false,"type":"string"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoVeiculoIntegracao"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/Veiculo/insereVeiculo":{"post":{"tags":["Veiculo"],"operationId":"Veiculo_PostAsync","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"veiculo","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.REST.Veiculo.VeiculoModeloIntegracao"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.BaseRetornoRestModelo"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/Veiculo/insereRastreador":{"post":{"tags":["Veiculo"],"operationId":"Veiculo_PostAsync","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"rastreadorModeloIntegracao","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.REST.Rastreador.RastreadorModeloIntegracao"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/Veiculo/insereFaturamentoVeiculo":{"post":{"tags":["Veiculo"],"operationId":"Veiculo_PostAsync","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"listVeiculoFaturamento","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.REST.Veiculo.FaturamentoVeiculoIntegracaoRequest"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoContaVeiculoFaturamentoPeriodo"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoContaVeiculoFaturamentoPeriodo"}}}}}},"/Veiculo/buscaChecklist":{"get":{"tags":["Veiculo"],"operationId":"Veiculo_GetChecklist","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dataInicio","in":"query","required":false,"type":"string","format":"date-time"},{"name":"dataFim","in":"query","required":false,"type":"string","format":"date-time"},{"name":"placa","in":"query","required":false,"type":"string"},{"name":"tipoSituacaoChecklist","in":"query","required":false,"type":"string"},{"name":"tipoChecklist","in":"query","required":false,"type":"string"},{"name":"finalizado","in":"query","required":false,"type":"boolean"},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoCheckeclistModeloIntegracao"}},"400":{"description":"BadRequest","schema":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}}}},"/v3/Veiculo/GetRastreio":{"post":{"tags":["VeiculoMobRefactor"],"operationId":"VeiculoMobRefactor_GetRastreador","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"veiculo","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Integracao.Servico.Models.VeiculoAPI"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Rest.ModeloRetorno[System.Object]"}}}}},"/v3/Veiculo/GetStatusVeiculo":{"post":{"tags":["VeiculoMobRefactor"],"operationId":"VeiculoMobRefactor_GetStatusVeiculo","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"veiculo","in":"body","required":true,"schema":{"$ref":"#/definitions/ApisulLog.Integracao.Servico.Models.VeiculoAPI"}},{"name":"token","in":"header","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApisulLog.Modelo.Rest.ModeloRetorno[System.Object]"}}}}}},"definitions":{"ApisulLog.Modelo.Retorno.RetornoMensagemModelo":{"type":"object","properties":{"MensagensSucesso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensAviso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"TransacaoOk":{"type":"boolean"},"MensagensErro":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}},"ApisulLog.Modelo.Retorno.RetornoMensagem":{"type":"object","properties":{"Codigo":{"format":"int32","type":"integer"},"Mensagem":{"type":"string"}}},"ApisulLog.Integracao.Servico.Models.LoginIntegracao":{"type":"object","properties":{"Usuario":{"type":"string"},"Senha":{"type":"string"}}},"ApisulLog.Integracao.Servico.Models.LoginChatBot":{"type":"object","properties":{"IdChatBot":{"type":"string"},"Token":{"type":"string"}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoSMPEstatistica":{"type":"object","properties":{"ListaSMPEstatistica":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Dinamico.SMPEstatisticaDocControle"}},"MensagensSucesso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensAviso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"TransacaoOk":{"type":"boolean"},"MensagensErro":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}},"ApisulLog.Modelo.Dinamico.SMPEstatisticaDocControle":{"type":"object","properties":{"Conta":{"type":"string"},"DocumentoControle":{"type":"string"},"NumeroSMP":{"type":"string"},"TipoStatusSMP":{"type":"string"},"Destino":{"type":"string"},"NomePonto":{"type":"string"},"PrevisaoChegada":{"format":"date-time","type":"string"},"PrevisaoOnLine":{"format":"date-time","type":"string"}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoLocalizacaoVeiculo":{"type":"object","properties":{"ListaVeiculoLocalizacao":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Dinamico.VeiculoLocalizacaoModelo"}},"MensagensSucesso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensAviso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"TransacaoOk":{"type":"boolean"},"MensagensErro":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}},"ApisulLog.Modelo.Dinamico.VeiculoLocalizacaoModelo":{"type":"object","properties":{"Conta":{"type":"string"},"NumeroSMP":{"type":"string"},"DocumentoControle":{"type":"string"},"TipoStatusSMP":{"type":"string"},"Placa":{"type":"string"},"NumeroRastreador":{"type":"string"},"DataGPSPosicao":{"format":"date-time","type":"string"},"Latitude":{"type":"string"},"Longitude":{"type":"string"},"Endereco":{"type":"string","readOnly":true}}},"ApisulLog.Modelo.Rest.ModeloRetorno[System.Object]":{"type":"object","properties":{"TransacaoOK":{"type":"boolean"},"Mensagem":{"type":"string"},"Dados":{"type":"object"}}},"ApisulLog.Modelo.Rest.ModeloRetorno[System.Collections.Generic.List[ApisulLog.Modelo.ChatMob.ChatMensagemModeloRetorno]]":{"type":"object","properties":{"TransacaoOK":{"type":"boolean"},"Mensagem":{"type":"string"},"Dados":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.ChatMob.ChatMensagemModeloRetorno"}}}},"ApisulLog.Modelo.ChatMob.ChatMensagemModeloRetorno":{"type":"object","properties":{"DataEnvio":{"format":"date-time","type":"string"},"DataTrocaStatus":{"format":"date-time","type":"string"},"Status":{"type":"string"},"Texto":{"type":"string"},"Origem":{"type":"string"},"Usuario":{"type":"string"}}},"ApisulLog.Modelo.ChatMob.ChatMensagemModelo":{"type":"object","properties":{"IdRastreador":{"format":"int32","type":"integer"},"IdSMP":{"format":"int64","type":"integer"},"Mensagem":{"type":"string"},"IdUsuarioGestor":{"format":"int32","type":"integer"}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaSMPEvento":{"type":"object","properties":{"Eventos":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaSMPEvento.Evento"}},"MensagensSucesso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensAviso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"Ocorrencias":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.SMPOcorrenciaModelo"}},"TransacaoOk":{"type":"boolean"},"MensagensErro":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaSMPEvento.Evento":{"type":"object","properties":{"NumeroSMP":{"format":"int32","type":"integer"},"DocControle":{"type":"string"},"NomeEvento":{"type":"string"},"StatusSMP":{"type":"string"},"PlacaCavalo":{"type":"string"},"Motorista":{"type":"string"},"IdEvento":{"format":"int32","type":"integer"},"DataHora":{"format":"date-time","type":"string"},"Observacao":{"type":"string"},"LocalizacaoInicio":{"type":"string","readOnly":true},"Tempo":{"type":"string","readOnly":true}}},"ApisulLog.Modelo.SMPOcorrenciaModelo":{"type":"object","properties":{"IdSMPOcorrencia":{"format":"int64","type":"integer"},"IdSMP":{"format":"int64","type":"integer"},"IdTipoOcorrencia":{"format":"int32","type":"integer"},"Titulo":{"type":"string"},"Mensagem":{"type":"string"},"DataEnvio":{"format":"date-time","type":"string"},"IdTipoStatusComunicado":{"format":"int32","type":"integer"},"DataEnvioEmail":{"format":"date-time","type":"string"},"IdUsuario":{"format":"int32","type":"integer"},"IdMotorista":{"format":"int32","type":"integer"},"SMPOcorrenciaAutomaticaModelo":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.SMPOcorrenciaAutomaticaModelo"}}}},"ApisulLog.Modelo.SMPOcorrenciaAutomaticaModelo":{"type":"object","properties":{"IdSMPOcorrenciaAutomatica":{"format":"int32","type":"integer"},"IdSMPOcorrencia":{"format":"int64","type":"integer"},"DataInclusao":{"format":"date-time","type":"string"}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaComando":{"type":"object","properties":{"Comandos":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaComando.ComandoIntegracao"}},"MensagensSucesso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensAviso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"Ocorrencias":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.SMPOcorrenciaModelo"}},"TransacaoOk":{"type":"boolean"},"MensagensErro":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaComando.ComandoIntegracao":{"type":"object","properties":{"NumeroSMP":{"format":"int32","type":"integer"},"Comando":{"type":"string"},"DataComando":{"format":"date-time","type":"string"},"TipoStatusComando":{"type":"string"}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaDocumentoSMPRest":{"type":"object","properties":{"Documentos":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaDocumentoSMPRest.Documento"}},"MensagensSucesso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensAviso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensErro":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaDocumentoSMPRest.Documento":{"type":"object","properties":{"NumeroDocumento":{"type":"string"},"Status":{"type":"string"},"Situacao":{"type":"string"},"DocControle":{"type":"string"},"ListaDocumentoNivel2":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaDocumentoSMPRest.Documento.DocumentoNivel2"}},"ListaSMP":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaDocumentoSMPRest.Documento.SMP"}}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaDocumentoSMPRest.Documento.DocumentoNivel2":{"type":"object","properties":{"NumeroDocumento":{"type":"string"},"Status":{"type":"string"}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaDocumentoSMPRest.Documento.SMP":{"type":"object","properties":{"NumeroSMP":{"format":"int32","type":"integer"},"Status":{"type":"string"}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaDocumentoSMPPorNumeroRest":{"type":"object","properties":{"Documentos":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaDocumentoSMPPorNumeroRest.Documento"}},"MensagensSucesso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensAviso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensErro":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaDocumentoSMPPorNumeroRest.Documento":{"type":"object","properties":{"NumeroDocumento":{"type":"string"},"Status":{"type":"string"},"Valor":{"format":"double","type":"number"},"DocControle":{"type":"string"},"Volume":{"format":"int32","type":"integer"},"UnidadeMedida":{"type":"string"},"TempoAtualDoc":{"type":"string","readOnly":true},"PrevisaoChegada":{"format":"date-time","type":"string"},"PrevisaoChegadaOnline":{"format":"date-time","type":"string"},"Transportadora":{"type":"string"},"Origem":{"type":"string"},"UltimoDestino":{"type":"string"},"ListaDocumentoNivel2":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaDocumentoSMPPorNumeroRest.Documento.DocumentoNivel2"}},"ListaSMP":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaDocumentoSMPPorNumeroRest.Documento.SMP"}},"PrevisaoInicio":{"format":"date-time","type":"string"},"DataFinalizacao":{"format":"date-time","type":"string"},"DataInicioReal":{"format":"date-time","type":"string"},"DataInclusaoDocumento":{"format":"date-time","type":"string"},"TempoParado":{"type":"string"}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaDocumentoSMPPorNumeroRest.Documento.DocumentoNivel2":{"type":"object","properties":{"NumeroDocumento":{"type":"string"},"Status":{"type":"string"},"Volume":{"format":"int32","type":"integer"},"UnidadeMedida":{"type":"string"}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaDocumentoSMPPorNumeroRest.Documento.SMP":{"type":"object","properties":{"NumeroSMP":{"format":"int32","type":"integer"},"Status":{"type":"string"},"Progressao":{"type":"string","readOnly":true},"ListaPontosSMP":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaDocumentoSMPPorNumeroRest.Documento.SMP.PontosSMP"}}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaDocumentoSMPPorNumeroRest.Documento.SMP.PontosSMP":{"type":"object","properties":{"DataEntrega":{"format":"date-time","type":"string"},"PrevisaoEntregaAgendada":{"format":"date-time","type":"string"},"PrevisaoEntregaOnline":{"format":"date-time","type":"string"},"NomePonto":{"type":"string"},"TipoPonto":{"type":"string"}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaComprovanteDocumentoSMPRest":{"type":"object","properties":{"Comprovantes":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaComprovanteDocumentoSMPRest.Comprovante"}},"MensagensSucesso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensAviso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensErro":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaComprovanteDocumentoSMPRest.Comprovante":{"type":"object","properties":{"Url":{"type":"string"},"NumeroSMP":{"format":"int32","type":"integer"},"PontoGeografico":{"type":"string"},"DocumentoControle":{"type":"string"},"DocumentoNivel1":{"type":"string"},"DataInclusao":{"format":"date-time","type":"string"},"ListaDocumentoNivel2":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaComprovanteDocumentoSMPRest.Comprovante.DocumentoNivel2"}}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoBuscaComprovanteDocumentoSMPRest.Comprovante.DocumentoNivel2":{"type":"object","properties":{"NumeroDocumento":{"type":"string"}}},"ApisulLog.Negocio.Integracao.Modelo.REST.DocumentoSMP.DocumentoSMPComprovanteModeloIntegracao":{"type":"object","properties":{"SMP":{"type":"string"},"Placa":{"type":"string"},"DocControle":{"type":"string"},"Documento":{"type":"string"},"Imagem":{"type":"string"},"Ponto":{"type":"string"}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoInsereComprovanteCheckin":{"type":"object","properties":{"MensagensSucesso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensAviso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"TransacaoOk":{"type":"boolean"},"MensagensErro":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}},"ApisulLog.Negocio.Integracao.Modelo.REST.DocumentoSMP.DocumentoSMPStatusCarregamentoModeloIntegracao":{"type":"object","properties":{"DocumentoControle":{"type":"string"},"StatusSeparacao":{"type":"boolean"},"StatusCarregamento":{"type":"string"},"StatusFaturamento":{"type":"boolean"},"DataFaturamento":{"format":"date-time","type":"string"}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoInsereDocumentoSMPStatusCarregamentoRest":{"type":"object","properties":{"Documento":{"type":"string"},"StatusCarregamento":{"type":"string"},"MensagensSucesso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensAviso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensErro":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}},"ApisulLog.Negocio.Integracao.Modelo.REST.DocumentoSMP.DocumentoSMPModeloIntegracao":{"type":"object","properties":{"CNPJEmbarcador":{"type":"string"},"NumeroSMP":{"format":"int32","type":"integer"},"AnoSMP":{"format":"int32","type":"integer"},"DocumentoControle":{"type":"string"},"PlacaCavalo":{"type":"string"},"VinculaDocControleSMP":{"type":"boolean"},"Pontos":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.REST.DocumentoSMP.DocumentoSMPPontoModeloIntegracao"}},"DocumentoControleAnterior":{"type":"string"}}},"ApisulLog.Negocio.Integracao.Modelo.REST.DocumentoSMP.DocumentoSMPPontoModeloIntegracao":{"type":"object","properties":{"Identificador":{"type":"string"},"Documentos":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.REST.DocumentoSMP.DocumentoSMPNivel1ModeloIntegracao"}}}},"ApisulLog.Negocio.Integracao.Modelo.REST.DocumentoSMP.DocumentoSMPNivel1ModeloIntegracao":{"type":"object","properties":{"Documentos":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.REST.DocumentoSMP.DocumentoSMPNivel2ModeloIntegracao"}},"Numero":{"type":"string"},"Valor":{"format":"double","type":"number"},"CNPJRemetente":{"type":"string"},"Volume":{"format":"int32","type":"integer"},"TipoMedida":{"format":"int32","type":"integer"}}},"ApisulLog.Negocio.Integracao.Modelo.REST.DocumentoSMP.DocumentoSMPNivel2ModeloIntegracao":{"type":"object","properties":{"Numero":{"type":"string"},"Valor":{"format":"double","type":"number"},"CNPJRemetente":{"type":"string"},"Volume":{"format":"int32","type":"integer"},"TipoMedida":{"format":"int32","type":"integer"}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoInsereDocumentoSMPRest":{"type":"object","properties":{"NumeroSMP":{"format":"int32","type":"integer"},"AnoSMP":{"format":"int32","type":"integer"},"MensagensSucesso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensAviso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensErro":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}},"ApisulLog.Negocio.Integracao.Modelo.REST.Emitente.EmitenteModeloIntegracao":{"type":"object","properties":{"TipoPessoa":{"type":"string"},"RazaoSocial":{"type":"string"},"NomeFantasia":{"type":"string"},"NumeroDocumento":{"type":"string"},"TipoEmitente":{"type":"string"},"Matriz":{"type":"boolean"},"Ramal":{"type":"string"}}},"ApisulLog.Modelo.Retorno.BaseRetornoRestModelo":{"type":"object","properties":{"MensagensSucesso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensAviso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensErro":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}},"ApisulLog.Modelo.Dinamico.CargaProgramada.RetornoFreteModeloIntegracao":{"type":"object","properties":{"listaFretes":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Dinamico.CargaProgramada.FreteConsultaModeloIntegracao"}},"MensagensSucesso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensAviso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"Ocorrencias":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.SMPOcorrenciaModelo"}},"TransacaoOk":{"type":"boolean"},"MensagensErro":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}},"ApisulLog.Modelo.Dinamico.CargaProgramada.FreteConsultaModeloIntegracao":{"type":"object","properties":{"InicioPrevisto":{"type":"string","readOnly":true},"Situacao":{"type":"string"},"Solicitante":{"type":"string"},"CNPJ":{"type":"string","readOnly":true},"DocControle":{"type":"string"},"Origem":{"type":"string","readOnly":true},"PrevisaoEntrega":{"type":"string","readOnly":true},"Quantidade":{"type":"string","readOnly":true},"Dimensoes":{"type":"string"},"Peso":{"type":"string"},"TipoCarga":{"type":"string"},"Justificativa":{"type":"string"},"Transportador":{"type":"string"},"ValorFrete":{"type":"string","readOnly":true},"ListaDestinos":{"type":"array","items":{"type":"string"}},"TipoOperacao":{"type":"string"},"DataInicio":{"format":"date-time","type":"string"},"DataFim":{"format":"date-time","type":"string"},"PlacaCavalo":{"type":"string"},"PlacaCarreta":{"type":"string"},"TipoCavaloIndicado":{"type":"string"},"TipoCarretaIndicado":{"type":"string"},"CapacidadeCarga":{"format":"int32","type":"integer"},"TA":{"type":"string"},"ListaRequisicoes":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Dinamico.CargaProgramada.RequisicaoFreteModeloIntegracao"}},"ListaTipoMotoristaIndicado":{"type":"array","items":{"type":"string"}}}},"ApisulLog.Modelo.Dinamico.CargaProgramada.RequisicaoFreteModeloIntegracao":{"type":"object","properties":{"Transportador":{"type":"string"},"DataSolicitacao":{"type":"string","readOnly":true},"Situacao":{"type":"string","readOnly":true},"AceiteCarga":{"type":"boolean"},"ValorFrete":{"type":"string","readOnly":true},"TipoRequisicao":{"type":"string"},"PrazoRetorno":{"type":"string","readOnly":true}}},"ApisulLog.Modelo.Dinamico.CargaProgramada.RetornoFreteModeloIntegracaoV2":{"type":"object","properties":{"listaFretes":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Dinamico.CargaProgramada.FreteConsultaModeloIntegracaoV2"}},"MensagensSucesso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensAviso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"Ocorrencias":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.SMPOcorrenciaModelo"}},"TransacaoOk":{"type":"boolean"},"MensagensErro":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}},"ApisulLog.Modelo.Dinamico.CargaProgramada.FreteConsultaModeloIntegracaoV2":{"type":"object","properties":{"InicioPrevisto":{"type":"string","readOnly":true},"Situacao":{"type":"string"},"Solicitante":{"type":"string"},"CNPJ":{"type":"string","readOnly":true},"DocControle":{"type":"string"},"Origem":{"type":"string","readOnly":true},"PrevisaoEntrega":{"type":"string","readOnly":true},"Quantidade":{"type":"string","readOnly":true},"Dimensoes":{"type":"string"},"Peso":{"type":"string"},"TipoCarga":{"type":"string"},"Justificativa":{"type":"string"},"Transportador":{"type":"string"},"ValorFrete":{"type":"string","readOnly":true},"ListaDestino":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Dinamico.CargaProgramada.DestinoEnderecoModelo"}},"TipoOperacao":{"type":"string"},"DataInicio":{"format":"date-time","type":"string"},"DataFim":{"format":"date-time","type":"string"},"PlacaCavalo":{"type":"string"},"PlacaCarreta":{"type":"string"},"TipoCavaloIndicado":{"type":"string"},"TipoCarretaIndicado":{"type":"string"},"CapacidadeCarga":{"format":"int32","type":"integer"},"TA":{"type":"string"},"ListaRequisicoes":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Dinamico.CargaProgramada.RequisicaoFreteModeloIntegracaoV2"}},"ListaTipoMotoristaIndicado":{"type":"array","items":{"type":"string"}}}},"ApisulLog.Modelo.Dinamico.CargaProgramada.DestinoEnderecoModelo":{"type":"object","properties":{"Identificador":{"type":"string"},"CidadeUF":{"type":"string","readOnly":true}}},"ApisulLog.Modelo.Dinamico.CargaProgramada.RequisicaoFreteModeloIntegracaoV2":{"type":"object","properties":{"Transportador":{"type":"string"},"DataSolicitacao":{"type":"string","readOnly":true},"AceiteOperador":{"type":"string","readOnly":true},"AceiteTransportador":{"type":"boolean"},"DataRetornoTransportador":{"type":"string","readOnly":true},"ValorFrete":{"type":"string","readOnly":true},"TipoRequisicao":{"type":"string"},"PrazoRetorno":{"type":"string","readOnly":true}}},"ApisulLog.Negocio.Integracao.Modelo.REST.FreteModeloIntegracao":{"type":"object","properties":{"InicioPrevisto":{"format":"date-time","type":"string"},"DocControle":{"type":"string"},"Origem":{"type":"string"},"TipoOperacao":{"type":"string"},"Destinos":{"type":"string"},"PlacaCavalo":{"type":"string"},"PlacaCarreta":{"type":"string"},"CapacidadeCarreta":{"format":"int32","type":"integer"},"Solicitante":{"type":"string"},"Faturamento":{"type":"string"},"ValorFrete":{"format":"double","type":"number"},"PrevisaoEntrega":{"format":"date-time","type":"string"},"TipoCarga":{"type":"string"},"Quantidade":{"format":"int32","type":"integer"},"Peso":{"format":"int32","type":"integer"},"Largura":{"format":"int32","type":"integer"},"Altura":{"format":"int32","type":"integer"},"Profundidade":{"format":"int32","type":"integer"},"Transportador":{"type":"string"},"Justificativa":{"type":"string"},"MotoristaDocumento":{"type":"string"},"TipoVeiculoIndicado":{"format":"int32","type":"integer"},"TipoCarroceriaIndicada":{"format":"int32","type":"integer"},"StatusCarregamento":{"format":"int32","type":"integer"},"ConfirmacaoCarregamento":{"format":"int32","enum":[1,2,3],"type":"integer"},"PrioridadeCarregamento":{"format":"int32","enum":[1,2,3],"type":"integer"},"PrevisaoFimCarregamento":{"format":"date-time","type":"string"},"TipoMotoristaIndicado":{"type":"string"}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoInsereFreteRest":{"type":"object","properties":{"MensagensSucesso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensAviso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensErro":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}},"ApisulLog.Modelo.Dinamico.CargaProgramada.RetornoCargaProgramadaModeloIntegracao":{"type":"object","properties":{"Cargas":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Dinamico.CargaProgramada.CargaProgramadaConsultaModeloIntegracao"}},"MensagensSucesso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensAviso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"Ocorrencias":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.SMPOcorrenciaModelo"}},"TransacaoOk":{"type":"boolean"},"MensagensErro":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}},"ApisulLog.Modelo.Dinamico.CargaProgramada.CargaProgramadaConsultaModeloIntegracao":{"type":"object","properties":{"InicioPrevisto":{"format":"date-time","type":"string"},"Situacao":{"type":"string"},"Status":{"type":"string"},"NumeroSMP":{"type":"string"},"ProgressaoCarregamento":{"type":"string"},"PrazoRetorno":{"format":"date-time","type":"string"},"Aceite":{"type":"string"},"DocControle":{"type":"string"},"PlacaCavalo":{"type":"string"},"PlacaCarreta":{"type":"string"},"ValorFrete":{"type":"string"},"Faturamento":{"type":"string"},"Origem":{"type":"string"},"Destino":{"type":"string"},"Motorista1":{"type":"string"},"DocMotorista1":{"type":"string"},"Motorista2":{"type":"string"},"DocMotorista2":{"type":"string"},"TipoCarga":{"type":"string"},"Valor":{"type":"string"},"Quantidade":{"type":"string"},"Peso":{"format":"int32","type":"integer"},"Volume":{"type":"string"},"TipoMotoristaIndicado":{"type":"string"}}},"ApisulLog.Negocio.Integracao.Modelo.REST.FreteCancelaModeloIntegracao":{"type":"object","properties":{"DocumentoControle":{"type":"string"}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoCancelaFreteRest":{"type":"object","properties":{"MensagensSucesso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensAviso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"Ocorrencias":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.SMPOcorrenciaModelo"}},"TransacaoOk":{"type":"boolean"},"MensagensErro":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}},"ApisulLog.Negocio.Integracao.Modelo.REST.FreteConfirmaModeloIntegracao":{"type":"object","properties":{"DocumentoControle":{"type":"string"},"CNPJtransportador":{"type":"string"}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoConfirmaFreteRest":{"type":"object","properties":{"MensagensSucesso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensAviso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"Ocorrencias":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.SMPOcorrenciaModelo"}},"TransacaoOk":{"type":"boolean"},"MensagensErro":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}},"ApisulLog.Integracao.Servico.Models.Login":{"type":"object","properties":{"Usuario":{"type":"string"},"Serial":{"type":"string"}}},"ApisulLog.Integracao.Servico.Models.HubAutenticacaoApisullogModeloIntegracao":{"type":"object","properties":{"texto":{"type":"string"},"idMensagem":{"format":"int64","type":"integer"},"tipo":{"type":"string"},"remetente":{"$ref":"#/definitions/ApisulLog.Integracao.Servico.Models.LiaApisullogRemetenteModeloIntegracao"},"destinatario":{"$ref":"#/definitions/ApisulLog.Integracao.Servico.Models.LiaApisullogDestinatarioModeloIntegracao"},"midia":{"$ref":"#/definitions/ApisulLog.Integracao.Servico.Models.LiaApisullogMidiaModeloIntegracao"},"wamId":{"type":"string"},"dataEvento":{"format":"date-time","type":"string"},"dataInclusao":{"format":"date-time","type":"string"},"status":{"type":"string"},"localizacao":{"type":"string"}}},"ApisulLog.Integracao.Servico.Models.LiaApisullogRemetenteModeloIntegracao":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"waId":{"type":"string"},"nome":{"type":"string"},"telefone":{"type":"string"}}},"ApisulLog.Integracao.Servico.Models.LiaApisullogDestinatarioModeloIntegracao":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"waId":{"type":"string"},"telefone":{"type":"string"},"nome":{"type":"string"}}},"ApisulLog.Integracao.Servico.Models.LiaApisullogMidiaModeloIntegracao":{"type":"object","properties":{"mimeType":{"type":"string"},"s3key":{"type":"string"}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoLiaApisullogModeloIntegracao":{"type":"object","properties":{"MensagensSucesso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensAviso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"TransacaoOk":{"type":"boolean"},"MensagensErro":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoMetaModeloIntegracao":{"type":"object","properties":{"Mensagens":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoMensagemFilaLiaModeloIntegracao"}},"MensagensSucesso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"MensagensAviso":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}},"Ocorrencias":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.SMPOcorrenciaModelo"}},"TransacaoOk":{"type":"boolean"},"MensagensErro":{"type":"array","items":{"$ref":"#/definitions/ApisulLog.Modelo.Retorno.RetornoMensagem"}}}},"ApisulLog.Negocio.Integracao.Modelo.Retorno.RetornoMensagemFilaLiaModeloIntegracao":{"type":"object","properties":{"IdAtendimentoMensagemFilaLia":{"format":"int64","type":"integer"},"IdAtendimentoMensagemLia":{"format":"int64","type":"integer"},"IdMensagem":{"format":"int64","type":"integer"},"IdTemplateLia":{"format":"int32","type":"inte
[...]
